@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Views.Shared.SideNavLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Views.Shared.SideNavLayout)">
            <p>No se encontró la página</p>
        </LayoutView>
    </NotFound>
</Router>


