@model Pry_Solu_SalonSPA.Models.Proveedor

@{
    Layout = "~/Views/Main.cshtml";
    ViewData["Title"] = "Proveedores";
}

<h1>Proveedor</h1>
<p>Gestión de Proveedores registrados en el sistema.</p>
