@model IEnumerable<Rumis_Salon_Spa.Models.Proveedores>
@{
    Layout = "~/Views/Main.cshtml";
    ViewData["Title"] = "Proveedores";
}

<h1>Proveedores</h1>
<p>Gestión de Proveedores registrados en el sistema.</p>
