.contenedor-citas {
    width: 95%;
    margin: 2rem auto;
    font-family: 'Arial', sans-serif;
}

.fila-cita {
    display: grid;
    grid-template-columns: 0.5fr 2.3fr 2.9fr 2.3fr 1.2fr 0.8fr 1fr 1.4fr 1.6fr;
    border-bottom: 2px solid #EBC5E5; /* borde rosado */
    padding: 0.5rem;
    align-items: center;
    gap: 0.2rem;
    transition: 0.2s;
}

    .fila-cita.encabezado {
        font-weight: bold;
        background-color: #f9f1f7;
        color: #2B2766;
    }

.celda {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.85rem;
}

.acciones {
    display: flex;
    gap: 0.3rem;
}

.btn-accion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid #EBC5E5;
    border-radius: 6px;
    background-color: white;
    color: #2B2766;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1rem;
}

    .btn-accion i {
        color: #A138C2; /* todos los iconos en morado */
    }

    .btn-accion:hover {
        background-color: #fce6f5;
    }

    .btn-accion.editar i {
        color: #5a8fb9;
    }

    .btn-accion.eliminar i {
        color: #b95a5a;
    }

    .btn-accion.detalles i {
        color: #A138C2;
    }


.detalle-observacion {
    display: none;
    margin-left: 2rem;
    margin-bottom: 1rem;
    background-color: #f9f1f7;
    padding: 0.5rem 1rem;
    border-left: 3px solid #b95aa1;
    border-radius: 4px;
}

    .detalle-observacion.mostrar {
        display: block;
    }

/* Responsive */
@media (max-width: 768px) {
    .fila-cita.encabezado {
        display: none;
    }

    .fila-cita {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        border: 1px solid #EBC5E5;
        border-radius: 8px;
        margin-bottom: 0.5rem;
    }

    .celda {
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
    }

        .celda::before {
            content: attr(data-label);
            font-weight: bold;
            color: #b95aa1;
        }

    .acciones {
        width: 100%;
    }

    .btn-accion {
        width: 100%;
        margin-bottom: 0.2rem;
    }
}
