@model IEnumerable<Rumis_Salon_Spa.Models.Servicios>
@{
    Layout = "~/Views/Main.cshtml";
    ViewData["Title"] = "Servicios";
}

<h1>Servicios</h1>
<p>Gestión de Servicios registrados en el sistema.</p>