@page "/"

@inject NavigationManager Navigation

<h3>Redirigiendo...</h3>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Navigation.NavigateTo("/dashboard", true);
        }
    }
}
