@model IEnumerable<Rumis_Salon_Spa.Models.Categorias>
@{
    Layout = "~/Views/Main.cshtml";
    ViewData["Title"] = "Categorias";
}

<h1>Categorias </h1>
<p>Gestión de Categorias registrados en el sistema.</p>