@model IEnumerable<Rumis_Salon_Spa.Models.Inventario>
@{
    Layout = "~/Views/Main.cshtml";
    ViewData["Title"] = "Inventario";
}

<h1>Inventario</h1>
<p>Gestión de Inventario registrados en el sistema.</p>