<link rel="stylesheet" href="~/css/Vclientes/HeaderClientes.css" />

<div class="clientes-header-container">
    <div class="clientes-header-left">
        <h2 class="clientes-titulo">📋 Gestión de Clientes</h2>
        <h3 class="clientes-titulo">Administra la información de tus clientes.</h3>
    </div>

    <a asp-action="Index" class="btn-agregar">Agregar</a>
</div>
