<link href="~/css/VClientes/_HeaderClientes.css" rel="stylesheet" />

<div class="clientes-header-container">

    <h3 class="clientes-header-titulo">Lista de Clientes</h3>

    <p class="clientes-header-subtitulo">Gestión de clientes registrados en el sistema.</p>

    <a asp-action="Crear" class="clientes-header-btn">+ Nuevo Cliente</a>
</div>
