@model Rumis_Salon_Spa.Models.ViewModels.ClientesViewModel

@{
    Layout = "~/Views/Main.cshtml";
    ViewData["Title"] = "Clientes";
}

<link rel="stylesheet" href="~/css/Vclientes/VClientes.css" />

@await Html.PartialAsync("~/Views/Clientes/_HeaderClientes.cshtml")

<div class="clientes-container">
    @await Html.PartialAsync("~/Views/Clientes/_ListClientes.cshtml", Model.Clientes)
</div>

@if (Model.ClienteSeleccionado != null)
{
    @await Html.PartialAsync("~/Views/Clientes/_ModalDetalles.cshtml", Model.ClienteSeleccionado)
}